<div class="row">
  <div class="col s12 m6 offset-s0 offset-m3">
      <!-- Блок статистики -->
      <app-statistic [feed]="feed" *ngIf="!inProgress"></app-statistic>

      <!--Лоадер-->
      <div *ngIf="inProgress">
          <h5  class="center-align teal-text text-darken-2">Терпіння...</h5>
          <div class="progress">
              <div class="indeterminate"></div>
          </div>
      </div>

      <!--Список сповіщень-->
      <div class="content" *ngIf="!inProgress">
          <ul class="collection with-header" *ngIf="feed">
              <li class="collection-header"><h4><button class="waves-effect waves-light btn" (click)="goBack()"> <i class="fa fa-arrow-left"></i></button> {{ feed.title }}</h4>
                  <div class="switch">
                      <label>
                          Усі
                          <input type="checkbox" [checked]="showOnlyUnreadNotifications"
                                 (change)="showUnreadNotifications($event.target.checked)">
                          <span class="lever"></span>
                          Непрочитані
                      </label>
                  </div>
              </li>
              <a class="collection-item avatar"  (click)="goToNotififcation(index)"
                  *ngFor="let notification of feed.items; index as index">

                  <span class="title">{{ notification.title }}</span>
                  <p class="blue-text">{{ notification.pubDate | date:'short'}}</p>
                  <span *ngIf="notification.view" class="secondary-content">
                            <i class="fa fa-eye"></i>
                        </span>
              </a>

          </ul>
      </div>

  </div>
</div>